/* common */
.layout{
  width:100%;
  max-width: 400px;

  padding: 0;
  margin: 0 auto;
}
.wrapper{
  width: 100%;
  display: -webkit-box;
  background-color: #EFEFEF;
  display: grid;
}

/* header */
header{
  padding: 10px 0;
  background-color: aliceblue;
}
header ul{
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
}
header ul li{
  cursor: pointer;
}
/* footer */
footer{
  padding: 10px 0;
  background-color: antiquewhite;
}